html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body{
    background-color: #63a4ff;
}
#background{
    margin:0px -0.6vw;
    background: rgb(99,164,255);
}
#resumeabout{
    font-size: 2vw;
    background-color: #05386B;
    color: #63a4ff;
    text-align: center;
    padding:5px 5px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin: auto;
}
#navbar{
    margin-top: -10px;
    width:100%;
    background-color: #55a4fd;
    border-radius:0px 0px 10px 10px;
    box-shadow: rgba(108, 108, 108, 0.365) 0px 3px 8px;;
    border: 0px;
    padding:10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 100;
}
#slidermenu,#navbar1{
    display: none;
}
#home{
    position: relative;
    top:50px;
    padding-top: 50px;
    opacity: 0;
}

.subhead{
    font-size: 3vw;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

#home h1{
    color:white;
    margin-left: 20px;
    font-size: 4vw;
}
#navbar>div{
    display: flex;
    align-items: center;
}
#navbar>div>img{
    width:4vw;
    height:4vw;
    margin-left: 30px;
}
#image{
    display: flex;
    align-items: center;
    width:300px;
    height:300px;
    margin: auto;
    margin-top:50px;
    opacity: 0;
    transition: width 1s;
}
#about{
    height:20vw;
    border-radius: 10px;
    padding:10px;
    opacity:0;
    overflow: hidden;
    margin: 0.5vw;
    
}
#about h1{
    color:white;
    margin-left: 20px;
    font-size: 3vw;
}
#about>p{
    color: white;
    font-size: 1.7vw;
    margin-left: 20px;
    text-align: justify;
}
#image>img{
    border: 2px solid #ffffff;
    border-radius: 50%;
    width:22vw;
}
#icons{
    display: flex;
    gap: 10px;
    width:auto;
    margin-right: 30px;
}
#icons img,.icon{
    width: 4vw;
    background-color: white;
    border-radius: 50%;
}

#menu>a{
    width:9vw;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color:#05386B;
    font-weight: bold;
    font-size:1.5vw;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}
#menu>a:hover{
    background-color: #63a4ff;
    color: white;
    border-bottom: 2px solid #05386B;
}

#home{
    text-align: center;
}
#git{
    text-align: center;
    opacity: 0;
}

#skills{
    margin:0px -0.6vw;
    margin-top: 5vw;
    padding:5vw 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.752);
    background: rgb(0,67,156);
    background: radial-gradient(circle, rgba(0,67,156,1) 0%, rgba(1,1,73,1) 100%);
}
.h1{
    color: rgb(255, 255, 255);
    font-size: 4vw;
    font-weight: bold;
}
#skills>div{
    width:70%;
    margin: auto;
    padding:5%;
    display: flex;
    justify-content: space-evenly;
    gap: 3vw;
    border-bottom: 1px solid black;
}
#skills>div>div>img{
    border-radius: 50%;
    width:10vw;
}
#projects{
    padding-top: 5vw;
    text-align: center;
    height: auto;
}
#projects>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 3% 0px;
    
}
#projects>div>div{
    margin-top: 50px;
    text-align: left; 
    width: 45%;
}
.calender{
    width:9%;
}
/* #projects>div>div:first-child{
    position: relative;
    left:-400px;
}
#projects>div>div:last-child{
    position: relative;
    right:-400px;
} */

#projects>div>div>img{
    width:100%;
}
.p{
    color: #05386B;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: sans-serif;
}
.P{
    color: white;
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 300;
}
#contacts{
    text-align: center;
    margin:0px -0.6vw;
    margin-top: 2vw;
    padding: 5vw 0;
    background-color: rgba(0, 0, 0, 0.752);
    background: rgb(0,67,156);
    background: radial-gradient(circle, rgba(0,67,156,1) 0%, rgba(1,1,73,1) 100%);
}
#contacts>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contacts>div>div:first-child>div:last-child>a{
    font-size: 2vw;
    width:15vw;
    background-color: #63a4ff;
    color: #05386B;
    text-align: center;
    padding:5px 0px;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
}
#contacts>div>div:last-child{
    background-color: rgba(0, 0, 0, 0.33);
    padding: 30px;
    border-radius: 10px;
    width:30%;
}
#contacts>div>div:last-child>input{
    background-color: rgba(0, 0, 0, 0.388);
    border: 1px solid black;
    margin: 5px;
    width:100%;
    padding: 2px 0px;
    color: wheat;
}
#contacts>div>div:last-child>label{
    color:#63a4ff;
    margin: 5px;
}
#contacts>div>div:last-child>button{
    width:100%;
    background-color: #63a4ff;
    color: #05386B;
    text-align: center;
    padding:5px 0px;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
}
#contacts>div>div>div{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}
#contacts>div>div>div>a{
    text-decoration: none;
    color:white;
}
#contacts>div>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#contacts>div>div>div>img{
    width: 3vw;
    height:3vw;
    background-color: white;
    border-radius: 50%;
}

/* popup message */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.485);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left: -35px;
    top: -35px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    transition: 2s;
    visibility: visible;
  }

  .cp{
    font-size: 1.5vw;
    color: white;
  }
  .pp{
    font-size: 1.5vw;
    color: #05386B;
  }

  @media screen and (min-width:650px) and (max-width:900px) {
    #navbar{
        display: none;
    }
    #navbar1{
        display: flex;
        margin-top: -10px;
        width:100%;
        background-color: #63a4ff;
        border-radius:0px 0px 10px 10px;
        box-shadow: rgba(108, 108, 108, 0.365) 0px 3px 8px;;
        border: 0px;
        padding:10px 0px 10px 0px;
        position: sticky;
        top: 0px;
        justify-content: space-between;
        z-index: 100;
    }

    #navbar1>img:last-child{
        width:3vw;
        margin-right:30px;
    }

    #slidermenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        height:0;
        width:80vw;
        position:fixed;
        z-index: 110;
        top: 45px;
        right:0;
        background-color: #63a4ffe1;
        overflow: hidden;
        opacity: 0;
    }
    #slidermenu>a{
        width:90%;
        text-align: center;
    }
    #slidermenu>a:hover{
        background-color: #05386b1c;
        color: white;
        border-bottom: 2px solid #05386B;
    }
    #slidermenu>div:first-child{
        padding-bottom: 1%;
        border-bottom: 1px solid rgb(0, 0, 0);
        width: 100%;
        text-align: right;
    }
    #slidermenu>div:first-child>img{
        width:6vw;
        margin:0px 25px 0px 0px;
    }
    #slidermenu>div:last-child{
        margin-top: 40px;
    }
    #slidermenu>div:last-child>a>img{
        width: 8vw;
        background-color: white;
        border-radius: 50%;
    }
    .img{
        width:4vw;
        height:4vw;
        margin-left: 30px;
    }
    .mp{
        font-size: 5vw;
        text-decoration: none;
        color: #05386B;
        font-family: sans-serif;
        font-weight: bold;
    }
    #image{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:80%;
        height:auto;
        margin: auto;
        margin-top:50px;
        transition: width 2s;
    }
    #about{
        width:90%;
        opacity: 1;
    }
    #git img{
        width:95%;
    }
    #projects{
        margin-top: 10%;
        text-align: center;
    }
    #projects>div{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 10px 0px;
    }
    #projects>div>div{
        margin-top: 50px;
        text-align: left;
        width:90%;
    }
    #projects>div>div>img{
        width:100%;
    }
    #contacts>div{
        flex-direction: column;
        width:100%;
        
    }
    #contacts>div>div:last-child{
        width:70%;
        margin-top: 30px;
    }
    .cp{
        font-size: 3vw;
    }
    .pp{
        color:#05386B;
        font-size: 3vw;
    }
    #button{
        width:100vw;
    }
    #feedback{
        font-size: 3vw;
    }
}
@media screen and (min-width:100px) and (max-width:650px){
    #navbar{
        display: none;
    }
    #navbar1{
        display: flex;
        margin-top: -10px;
        width:100%;
        background-color: #63a4ff;
        border-radius:0px 0px 10px 10px;
        box-shadow: rgba(108, 108, 108, 0.365) 0px 3px 8px;;
        border: 0px;
        padding:10px 0px 10px 0px;
        position: sticky;
        top: 0px;
        justify-content: space-between;
        z-index: 100;
    }

    #navbar1>img:last-child{
        width:3vw;
        margin-right:30px;
    }

    #slidermenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        height:0;
        width:80vw;
        position:fixed;
        z-index: 110;
        top: 45px;
        right:0;
        background-color: #63a4ff;
        overflow: hidden;
        opacity: 0;
    }
    #slidermenu>a{
        width:90%;
        text-align: center;
    }
    #slidermenu>a:hover{
        background-color: #05386b1c;
        color: white;
        border-bottom: 2px solid #05386B;
    }
    #slidermenu>div:first-child{
        padding-bottom: 3%;
        padding-top: 2%;
        border-bottom: 1px solid rgb(0, 0, 0);
        width: 100%;
        text-align: right;
    }
    #slidermenu>div:first-child>img{
        width:6vw;
        margin:0px 25px 0px 0px;
    }
    #slidermenu>div:last-child{
        margin-top: 40px;
    }
    #slidermenu>div:last-child>a>img{
        width: 8vw;
        background-color: white;
        border-radius: 50%;
    }
    .img{
        width:6vw;
        height:6vw;
        margin-left: 30px;
    }
    .mp{
        font-size: 5vw;
        text-decoration: none;
        color: #05386B;
        font-family: sans-serif;
        font-weight: bold;
    }
    #image{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:300px;
        height: auto;
        margin: auto;
        margin-top:50px;
        transition: width 2s;
    }
    #about{
        width:90%;
        height: auto;
        opacity: 1;
    }
    #about p{
        font-size: 2.5vw;

    }
    #git img{
        width:95%;
        margin-top: 10px;
        height: auto;
        border: 1px solid white;
        border-radius: 10px;
    }
    #skills>div{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    #projects{
        margin-top: 50px;
        text-align: center;
    }
    #projects>div{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 10px 0px;
    }
    #projects>div>div{
        margin-top: 50px;
        text-align: left;
        width:90%;
    }
    #projects>div>div>img{
        width:100%;
    }
    #contacts>div{
        flex-direction: column;
        width:100%;
        
    }
    #contacts>div>div:last-child{
        width:70%;
        margin-top: 30px;
    }
    .cp{
        font-size: 3vw;
    }
    .pp{
        font-size: 3vw;
        color:#05386B;
    }
    #button{
        width:100vw;
    }
    #feedback{
        font-size: 3vw;
    }
}