html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body{
    background-color: #cbcbcb;
}
#background{
    margin:0px -0.6vw;
    background: rgb(99,164,255);
}
#navbar{
    margin-top: -10px;
    width:100%;
    background-color: #55a3fd6a;
    backdrop-filter: blur(8px);
    border-radius:0px 0px 10px 10px;
    box-shadow: rgba(108, 108, 108, 0.365) 0px 3px 8px;;
    border: 0px;
    padding:10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 100;
}
#slidermenu,#navbar1{
    display: none;
}
#home{
    position: relative;
    top:5vw;
    padding-top: 3vw;
    padding-bottom: 2vw;
    opacity: 0;
}

.subhead{
    font-size: 3vw;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

#home h1{
    color:white;
    margin-left: 20px;
    font-size: 4vw;
}
#navbar>div{
    display: flex;
    align-items: center;
}
#navbar>div>img{
    width:4vw;
    height:4vw;
    margin-left: 30px;
}
#image{
    display: flex;
    align-items: center;
    width:300px;
    height:300px;
    margin: auto;
    margin-top:50px;
    opacity: 0;
    transition: width 1s;
    
}
#image img{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#about{
    height:20vw;
    border-radius: 10px;
    padding:10px;
    opacity:0;
    overflow: hidden;
    margin: 0.5vw;
    
}
#about h1{
    color:white;
    margin-left: 20px;
    font-size: 3vw;
}
#about>p{
    color: white;
    font-size: 1.7vw;
    margin-left: 20px;
    text-align: justify;
}
#image>img{
    border: 2px solid #ffffff;
    border-radius: 10%;
    width:22vw;
}
#icons{
    display: flex;
    gap: 10px;
    width:auto;
    margin-right: 30px;
}
#icons img,.icon{
    width: 4vw;
    background-color: white;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 1px, rgba(0, 0, 0, 0.3) 0px 4px 2px, rgba(0, 0, 0, 0.3) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.3) 0px 32px 16px;
}

#menu>a{
    width:9vw;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color:#05386B;
    font-weight: bold;
    font-size:1.5vw;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}
#menu>a:hover{
    background-color: transparent;
    color: white;
    border-bottom: 2px solid #05386B;
    transition: 0.5s;
}

#home{
    text-align: center;
}
#git{
    text-align: center;
    opacity: 0;
    margin-top: 4vw;
}
#git img{
    margin-top: 10px;
    border-radius: 10px;
}
#skills{
    margin:0px -0.6vw;
    margin-top: 5vw;
    padding:5vw 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.752);
    /* background: rgba(0, 68, 156, 0.396); */
    /* background: radial-gradient(circle, #3491fb6a, rgb(3, 3, 146) 100%); */
}
.h1{
    color: rgb(255, 255, 255);
    font-size: 4vw;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 1);
}
#skills>div{
    width:70%;
    margin: auto;
    padding:5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
    gap: 3vw;
    border-bottom: 1px solid black;
}
#skills>div:last-child{
    grid-template-columns: repeat(5,1fr);
}
#skills>div>div>img{
    border-radius: 50%;
    width:10vw;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#projects{
    padding-top: 5vw;
    text-align: center;
    height: auto;
}
#projects>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 3% 0px;
}
#projects>div>div{
    margin-top: 50px;
    text-align: left; 
    width: 45%;
}
.front>img{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.3) 0px 8px 4px, rgba(0, 0, 0, 0.3) 0px 16px 8px, rgba(0, 0, 0, 0.3) 0px 32px 16px;
}
.calender{
    width:9%;
}
/* #projects>div>div:first-child{
    position: relative;
    left:-400px;
}
#projects>div>div:last-child{
    position: relative;
    right:-400px;
} */
iframe{
    width:100%;
    height:400px;
    border:0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 15px;
}
#projects>div>div>img{
    width:100%;
}
.p{
    color: #05386B;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: sans-serif;
}
.P{
    color: white;
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 300;
}
#contacts{
    text-align: center;
    margin:0px -0.6vw;
    margin-top: 2vw;
    padding: 5vw 0;
    background-color: rgba(0, 0, 0, 0.752);
    /* background: rgb(0,67,156);
    background: radial-gradient(circle, rgba(0,67,156,1) 0%, rgba(1,1,73,1) 100%); */
    
}
#contacts>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button{
    font-size: 2vw;
    width:auto;
    background-color: #63a4ffac;
    color: #ffffff;
    text-align: center;
    padding:0.5vw 4vw;
    margin: auto;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}
.button:hover{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 0.5s;
}
#top>div{
    margin: auto;
}
#contacts>div>div:last-child{
    background-color: rgba(0, 0, 0, 0);
    padding: 30px;
    border-radius: 10px;
    width:30%;
}
#contacts>div>div:last-child>input{
    background-color: rgba(0, 0, 0, 0.388);
    border: 1px solid black;
    margin: 5px;
    width:100%;
    padding: 2px 0px;
    color: wheat;
}
#contacts>div>div:last-child>label{
    color:#63a4ff;
    margin: 5px;
}
#contacts>div>div:last-child>button{
    width:100%;
    background-color: #63a4ff;
    color: #05386B;
    text-align: center;
    padding:5px 0px;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
}
#contacts>div>div>div{
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:20px;
}
#contacts>div>div>div>a{
    text-decoration: none;
    color:white;
}
#top>div:last-child>a{
    margin-top: 20px;
    color: #05386B;
}
#contacts>div>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#contacts>div>div>div img{
    width: 4vw;
    height:4vw;
    background-color: white;
    border-radius: 50%;
}
#feedback{
    background-image: url("https://www.careerguide.com/career/wp-content/uploads/2020/03/full-stack-development.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vw;
}
/* popup message */
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.485);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left: -35px;
    top: -35px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .cp{
    font-size: 1.5vw;
    color: white;
  }
  .pp{
    font-size: 1.5vw;
    color: #05386B;
  }

@media screen and (min-width:650px) and (max-width:900px) {
    #navbar{
        display: none;
    }
    #navbar1{
        display: flex;
        margin-top: -10px;
        width:100%;
        background-color: #55a3fd6a;
        backdrop-filter: blur(8px);
        border-radius:0px 0px 10px 10px;
        box-shadow: rgba(108, 108, 108, 0.365) 0px 3px 8px;;
        border: 0px;
        padding:10px 0px 10px 0px;
        position: sticky;
        top: 0px;
        justify-content: space-between;
        z-index: 100;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }

    #navbar1>img:last-child{
        width:3vw;
        margin-right:30px;
    }

    #slidermenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        height:0;
        width:80vw;
        position:fixed;
        z-index: 110;
        top: 45px;
        right:0;
        background-color: #55a3fd6a;
        backdrop-filter: blur(8px);
        overflow: hidden;
        opacity: 0;
    }
    #slidermenu>a{
        width:90%;
        text-align: center;
    }
    #slidermenu>a:hover{
        background-color: #05386b1c;
        color: white;
        border-bottom: 2px solid #05386B;
    }
    #slidermenu>div:first-child{
        padding-bottom: 1%;
        border-bottom: 1px solid rgb(0, 0, 0);
        width: 100%;
        text-align: right;
    }
    #slidermenu>div:first-child>img{
        width:6vw;
        margin:0px 25px 0px 0px;
    }
    #slidermenu>div:last-child{
        margin-top: 40px;
    }
    #slidermenu>div:last-child>a>img{
        width: 8vw;
        background-color: white;
        border-radius: 50%;
    }
    .img{
        width:4vw;
        height:4vw;
        margin-left: 30px;
    }
    .mp{
        font-size: 5vw;
        text-decoration: none;
        color: #05386B;
        font-family: sans-serif;
        font-weight: bold;
    }
    #image{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:80%;
        height:auto;
        margin: auto;
        margin-top:50px;
        transition: width 2s;
    }
    #image>img{
        width:28vw;
    }
    #about{
        width:90%;
        opacity: 1;
        height: auto;
    }
    #about p{
        font-size: 2.5vw;
    }
    #git img{
        width:95%;
        margin-top: 10px;
        height: auto;
        border: 1px solid white;
        border-radius: 10px;
    }
    .button{
        font-size: 3vw;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    #skills>div{
        grid-template-columns: repeat(3,1fr);
    }
    #skills>div:last-child{
        grid-template-columns: repeat(3,1fr);
    }
    #projects{
        margin-top: 10%;
        text-align: center;
    }
    #projects>div{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 10px 0px;
    }
    #projects>div>div{
        margin-top: 50px;
        text-align: left;
        width:90%;
    }
    #projects>div>div>img{
        width:100%;
    }
    #contacts>div{
        flex-direction: column;
        width:100%;
    }
    #contacts>div>div:last-child{
        width:70%;
        margin-top: 30px;
        
    }
    #contacts>div>div>div img{
        width: 7vw;
        height:7vw;
    }
    .cp{
        font-size: 3vw;
    }
    .pp{
        color:#05386B;
        font-size: 3vw;
    }
    #button{
        width:100vw;
    }
    #feedback{
        font-size: 3vw;
    }
    .icon{
        width:8vw;
    }
}
@media screen and (min-width:100px) and (max-width:650px){
    #navbar{
        display: none;
    }
    #navbar1{
        display: flex;
        margin-top: -10px;
        width:100%;
        background-color: #55a3fd6a;
        backdrop-filter: blur(8px);
        border-radius:0px 0px 10px 10px;
        box-shadow: rgba(108, 108, 108, 0.365) 0px 3px 8px;;
        border: 0px;
        padding:10px 0px 10px 0px;
        position: sticky;
        top: 0px;
        justify-content: space-between;
        z-index: 100;
    }

    #navbar1>img:last-child{
        width:4vw;
        margin-right:30px;
    }

    #slidermenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        height:0;
        width:80vw;
        position:fixed;
        z-index: 110;
        top: 45px;
        right:0;
        background-color: #55a3fd6a;
        backdrop-filter: blur(8px);
        overflow: hidden;
        opacity: 0;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }
    #slidermenu>a{
        width:90%;
        text-align: center;
    }
    #slidermenu>a:hover{
        background-color: #05386b1c;
        color: white;
        border-bottom: 2px solid #05386B;
    }
    #slidermenu>div:first-child{
        padding-bottom: 3%;
        padding-top: 2%;
        border-bottom: 1px solid rgb(0, 0, 0);
        width: 100%;
        text-align: right;
    }
    #slidermenu>div:first-child>img{
        width:6vw;
        margin:0px 25px 0px 0px;
    }
    #slidermenu>div:last-child{
        margin-top: 40px;
    }
    #slidermenu>div:last-child>a>img{
        width: 8vw;
        background-color: white;
        border-radius: 50%;
    }
    .img{
        width:6vw;
        height:6vw;
        margin-left: 30px;
    }
    .mp{
        font-size: 5vw;
        text-decoration: none;
        color: #05386B;
        font-family: sans-serif;
        font-weight: bold;
    }
    #image{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:300px;
        height: auto;
        margin: auto;
        margin-top:50px;
        transition: width 2s;
    }
    #image>img{
        width:32vw;
    }
    #about{
        width:90%;
        height: auto;
        opacity: 1;
    }
    #about p{
        font-size: 4vw;

    }
    #git img{
        width:95%;
        margin-top: 10px;
        height: auto;
        border: 1px solid white;
        border-radius: 10px;
    }
    .button{
        font-size: 3vw;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    #skills>div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #skills>div:last-child{
        grid-template-columns: repeat(2,1fr);
    }
    #skills>div>div>img{
        width:20vw;
    }
    #projects{
        margin-top: 50px;
        text-align: center;
    }
    #projects>div{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 10px 0px;

    }
    #projects>div>div{
        margin-top: 50px;
        text-align: left;
        width:90%;
    }
    #projects>div>div>img{
        width:100%;
    }
    #contacts>div{
        flex-direction: column;
        width:100%;
    }
    #contacts>div>div:last-child{
        width:70%;
        margin-top: 30px;
    }
    #contacts>div>div>div img{
        width: 8vw;
        height:8vw;
    }
    .cp{
        font-size: 3vw;
    }
    .pp{
        font-size: 3vw;
        color:#05386B;
    }
    #feedback{
        font-size: 3vw;
    }
    .icon{
        width:8vw;
    }
}