body{
    background-color: #5cdb95;
    scroll-behavior: smooth;
}
#navbar{
    margin-top: -10px;
    width:100%;
    background-color: #5cdb95;
    border-radius:0px 0px 10px 10px;
    box-shadow: rgba(108, 108, 108, 0.365) 0px 3px 8px;;
    border: 0px;
    padding:10px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
#slidermenu,#navbar1{
    display: none;
}
@media screen and (min-width:100px) and (max-width:700px) {
    #navbar{
        display: none;
    }
    #navbar1{
        display: block;
        margin-top: -10px;
        width:100%;
        background-color: #5cdb95;
        border-radius:0px 0px 10px 10px;
        box-shadow: rgba(108, 108, 108, 0.365) 0px 3px 8px;;
        border: 0px;
        padding:10px 0px 10px 0px;
        position: sticky;
        top: 0px;
    }
    #navbar1>img:first-child{
        width:3vw;
    }
    #slidermenu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:20px;
        border: 1px solid black;
        height:0;
        width:80vw;
        position:fixed;
        z-index: 10;
        top: 50px;
        background-color: rgba(255, 255, 255, 0.937);
        padding-top: 40px;
        overflow: hidden;
        opacity: 0;
    }
    #slidermenu>a{
        width:90%;
        text-align: center;
    }
    #slidermenu>a:hover{
        background-color: #05386b1c;
        color: white;
        border-bottom: 2px solid #05386B;
    }
    #slidermenu>div{
        margin-top: 40px;
    }
    #slidermenu>div>a>img{
        width: 8vw;
        background-color: white;
        border-radius: 50%;
    }
    .img{
        width:4vw;
        height:4vw;
        margin-left: 30px;
    }
    #navbar1{
        text-align: center;
    }
    .mp{
        font-size: 5vw;
        text-decoration: none;
        color: #05386B;
        font-family: sans-serif;
        font-weight: bold;
    }
    #image{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:300px;
        height:300px;
        margin: auto;
        margin-top:50px;
        transition: width 2s;
    }
}
.subhead{
    font-size: 3vw;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

#home h1{
    color:white;
    margin-left: 20px;
    font-size: 4vw;
}
#navbar>div{
    display: flex;
    align-items: center;
}
#navbar>div>img{
    width:4vw;
    height:4vw;
    margin-left: 30px;
}
#image{
    display: flex;
    align-items: center;
    width:300px;
    height:300px;
    margin: auto;
    margin-top:50px;
    transition: width 2s;
}
#about{
    height:20vw;
    border:2px solid white;
    border-radius: 10px;
    padding:10px;
    opacity:0;
    overflow: hidden;
    background-color: #05386b72;
    margin: 0.5vw;
}
#about h1{
    color:white;
    margin-left: 20px;
    font-size: 3vw;
}
#about>p{
    color: white;
    font-size: 1.7vw;
    margin-left: 20px;
    text-align: justify;
}
#image>img{
    border: 2px solid #05386B;
    border-radius: 50%;
    width:22vw;
}
#icons{
    display: flex;
    gap: 10px;
    width:auto;
    margin-right: 30px;
}
#icons img,.icon{
    width: 4vw;
    background-color: white;
    border-radius: 50%;
}

#menu>a{
    width:9vw;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color:#05386B;
    font-weight: bold;
    font-size:1.5vw;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}
#menu>a:hover{
    background-color: #05386b1c;
    color: white;
    border-bottom: 2px solid #05386B;
}

#home{
    text-align: center;
}
#git{
    text-align: center;
}
#skills{
    margin-top: 3vw;
    padding:3vw 0px;
    text-align: center;
    background-color: #05386B;

}
.h1{
    color: white;
    font-size: 4vw;
    font-weight: bold;
}
#skills>div{
    padding:40px;
    display: flex;
    justify-content: space-evenly;
}
#skills>div>div>img{
    border-radius: 50%;
    width:10vw;
}
#projects{
    margin-top: 50px;
    text-align: center;
}
#projects>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#projects>div>div{
    margin-top: 50px;
    text-align: left;
    width:46%;
}
#projects>div>div>img{
    width:100%;
}
.p{
    color: #05386B;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: sans-serif;
}
#contacts{
    text-align: center;
    margin-top: 50px;
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.752);
}
#contacts>div{
    display: flex;
    justify-content: space-evenly;
}
#contacts>div>div>div:last-child{
    display: flex;
    justify-content: center;
    gap:20px;
}
#contacts>div>div>div img{
    width: 4vw;
    background-color: white;
    border-radius: 50%;
}

/* popup message */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.485);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    left: -35px;
    top: -35px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    transition: 2s;
    visibility: visible;
  }